.addon-popover {
	position: fixed;
	top: 7%;
	left: 0.5%;
	background-color: #2980b9;
	color: #ffffff;
	height: auto;
	width: 18%;
	border-radius: 5px;
	padding: 6px;
	opacity: 0.8;
	font-size: 1.2em;
	font-weight: bold;
	display: none;
}